body {
    padding-top: 50px;
    padding-bottom: 20px;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.roleChoice {
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 50px;
    background: #04cddb;
    padding: 10px 20px 10px 20px;
    border: solid #1bafbd 4px;
    text-decoration: none;
    margin: 5%;
}

.roleChoice:hover {
    background: #F08080;
    text-decoration: none;
}

.pageHeader {
    margin: 3%;
    font-size: 150px;
    font-family: 'Architects Daughter', cursive;
    color: lightcoral;
}

.navbar {
    background-color: #04cddb;
}

.navbar-default .navbar-nav > li > a {
    color: ghostwhite;
    font-size: 20px;
}
.navbar-default .navbar-brand {
    color: ghostwhite;
    font-size: 30px;
}

.select {
    padding: 10px;
    margin: 3%;
}

.studentNames {
    padding: 5px;
    margin: 1%;
    font-size: 30px;
    background: #04cddb;
}

.studentNames:hover {
    background: #9067bf;
    text-decoration: none;
}

.kidsFont {
    font-family: 'Architects Daughter', cursive;
}

.kidButton {
    font-size: 20px;
    padding: 8px;
}

.niceFont {
    font-family: 'Nobile', sans-serif;
}

.options {
    font-size: 25px;
}

.underline {
    text-decoration: underline;
}

.tableHeading {
    font-size: 30px;
    padding: 10px;
    margin: 3%;
}

.submit {
    background: #04cddb;
}

.tableInfo {
    font-size: 25px;
    padding: 2%;
    margin: 2%;
}

.instructions {
    font-size: 50px;
    padding: 5px;
    margin: 2%;
    color: lightcoral;
}

.smallInstructions {
    font-size: 30px;
}

.forms {
    padding: 50px;
    justify-content: center;
    margin: auto;
    font-size: 20px;
}

.labels {
    padding: 5px;
}

.report, .pieChart {
    padding-top: 50px;
}
.reportHeading {
    padding-bottom: 25px;
}

.reportPage {
    margin: 20px;
    padding: 10px;
}

.reportInfo {
    font-size: 20px;
    padding: 4px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #04cddb;
    color: white;
    text-align: center;
}

/*font-family: 'Nobile', sans-serif;
font-family: 'Architects Daughter', cursive;*/