<div class="niceFont">
    <form class="forms">
        <div class="form-group">
            <label class="labels" for="locationName">Location Name</label>
            <input type="text" class="form-control" id="locationName" ng-model="updatedLocation.LocationName" placeholder="Location Name">
        </div>
        <div class="form-group">
            <label class="labels"for="timeAtLocation">Time At Location</label>
            <input type="number" class="form-control" id="timeAtLocation" ng-model="updatedLocation.TimeAtLocation" placeholder="Alloted Time for Location">
        </div>
        <button type="submit" class="btn submit" ng-click="Submit(updatedLocation)">Submit</button>
    </form>
</div>