<div>
    <form class="forms">
        <div class="form-group">
            <label class="labels" for="teacherFirstName">Teacher First Name</label>
            <input type="text" class="form-control" id="teacherFirstName" ng-model="updatedTeacher.FirstName" placeholder="First Name">
        </div>
        <div class="form-group">
            <label class="labels" for="teacherLastName">Teacher Last Name</label>
            <input type="text" class="form-control" id="teacherLastName" ng-model="updatedTeacher.LastName" placeholder="Last Name">
        </div>
        <div class="checkbox">
            <label>
                <input class="labels" type="checkbox" ng-model="updatedTeacher.IsHomeroomTeacher"> Check if Homeroom Teacher
            </label>
        </div>
        <button type="submit" class="btn submit" ng-click="Submit(updatedTeacher)">Submit</button>
    </form>
</div>