<div>
    <form>
        <div class="form-group">
            <label for="teacherFirstName">Teacher First Name</label>
            <input type="text" class="form-control" id="teacherFirstName" ng-model="updatedTeacher.FirstName" placeholder="First Name">
        </div>
        <div class="form-group">
            <label for="teacherLastName">Teacher Last Name</label>
            <input type="text" class="form-control" id="teacherLastName" ng-model="updatedTeacher.LastName" placeholder="Last Name">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"> Check if Homeroom Teacher
            </label>
        </div>
        <button type="submit" class="btn btn-default" ng-click="Submit(updatedTeacher)">Submit</button>
    </form>
</div>