<h2>
    Manage Teachers
</h2>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Teacher First Name</th>
                <th scope="col">Teacher Last Name</th>
                <th scope="col">Location</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="teacher in teachers">
                <td>{{teacher.FirstName}}</td>
                <td>{{teacher.LastName}}</td>
                <td>{{teacher.Location}}</td>
            </tr>
        </tbody>
    </table>





</div>